{% for label, messages in app.flashes(['success', 'warning', 'danger', 'info', 'error']) %}
	{% for message in messages %}
		<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
			{{ message }}
		</div>
	{% endfor %}
{% endfor %}