<footer class="bg-primary text-white py-5">
	<div class="container">
		<div class="row">
			<a href="{{ path('default') }}">
				<h4>Secret Santa</h4>
			</a>
		</div>
		<div class="row mt-4">
			<p class="fs-7">©2024 <a href="#" class="link-light link-underline-opacity-0">HESCSEN</a></p>
		</div>
	</div>
</footer>