<footer class="bg-light py-4">
	<div class="container">
		<div class="d-flex justify-content-end">
			<p class="m-0">© 2021 - Développé avec le
				<span class="text-danger">♥</span>
				par <a href="https://www.hescsen.com/" class="link-dark link-underline-opacity-0 fw-semibold">HESCSEN</a>
			</p>
		</div>
	</div>
</footer>