{% extends 'base.html.twig' %}

{% block body %}
	<div id="app" class="d-flex flex-column min-vh-100">
		{% block header %}
			{% include 'includes/header.html.twig' %}
		{% endblock %}
		
		<main role="main" class="py-5 flex-fill">
			{% block content %}{% endblock %}
		</main>
		
		{% block footer %}
			{% include 'includes/footer.html.twig' %}
		{% endblock %}
	</div>
{% endblock %}